body {
    background-color:beige;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.keyPoints {
    text-align: center;
     font-size: 1.5em; 
}